<form action="/decrypt" method="post" enctype="multipart/form-data">
    <label for="#seed">16 Digit seed</label>
    <input type="number" name="seed" id="#seed">
    <br>
    <label for="#file">Upload file</label>
    <input type="file" name="file" id="file">
    <br>
    <input type="submit" value="Decrypt">
</form>