<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sherlocker Encrypt</title>
</head>
<body>
    <div class="title">
        <img src="images/logo.png" class="logo">
        <span>0xSherl0cker</span>
    </div>
    <div class="main">
        <div class="seed">
            <div class="wrapper">
                <div class="subhead">
                    Not even Sherlock himself can trace you! 
                    <br>
                    <a href="/decrypt"> Decrypt Instead?</a>
                </div>
                <span class="subhead">
                    <% if (err) { %>
                        <br>
                        <span class="error" style="color: red;">
                            <%- err %>
                        </span>
                    <% } %>
                  </span>
                <br><br>
                <form action="/encrypt" method="post" enctype="multipart/form-data" id="mainform">
                    <div class="seed-cont-wrapper">
                        <div class="seed-cont">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg_icon bi-lock-fill" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path>
                            </svg>
                            <input class="seed-inp" id="seed" placeholder="Enter your 16-digit Seed to lock" name="seed" type="number" min="1000000000000000" max="9999999999999999" required  autocomplete="off"><br>
                        </div>
                    </div>
                    <br>
                    <input id="file" type="file" name="file" required><br>
                    <input id="submit" value = "Encrypt" type="submit" style="margin-top: 20px;">
                </form>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div id="version" style="margin-left: 20px; margin-top: 20px; color: red; font-weight: bold;">Version 1.1.0</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</body>
</html>