<!DOCTYPE html>
<html>
  <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sherlocker</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div class="mount">
    <div class="title">
      <h1>Sherlocker</h1>
      <span>Not even Sherlock himself can trace you! 
        <br>
        <a href="/"> Encrypt Instead?</a>
        <br>
        <% if (err) { %>
          <span style="color: red;">
            <%- err %>
          </span>
        <% } %>
    </div>


    <div class='file-input'>
      <form action="/encrypt" method="post" enctype="multipart/form-data" id="mainform">
      
      <div class="seed-cont">
      <label for="#seed" style="margin: 0px 4px;">Seed</label>
      <input class="seed" id="seed" placeholder="your 16-digit seed" name="seed" type="number" min="1000000000000000" max="9999999999999999" required style=" width: 200px; padding: 6px;"><br>
      </div>

      <label for="file" class="button">
         Upload File
      </label>
      <span id="file-selected"></span>
      <input id="file" type="file" name="file" required>
      <input id="submit" value = "Encrypt" type="submit" style="margin-top: 20px;">
      </form>
    </div>

  </div>
  <div id="version" style="margin-left: 20px; margin-top: 20px; color: red; font-weight: bold;">Version 1.0.1</div>
  <Br><br><Br><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </body>
</html>
